openapi: 3.0.0
info:
  version: 1.0.0
  title: Mobula API
  description: Documentation of the Mobula API
servers:
  - url: https://api.mobula.io/api/1
components:
  schemas: {}
  parameters: {}
paths:
  /all:
    get:
      summary: Get all assets
      parameters:
        - schema:
            type: string
            default: ""
          required: false
          name: fields
          in: query
      responses:
        "200":
          description: All response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        symbol:
                          type: string
                        logo:
                          type: string
                          nullable: true
                        price:
                          type: number
                          nullable: true
                        price_change_1h:
                          type: number
                        price_change_24h:
                          type: number
                        price_change_7d:
                          type: number
                        price_change_1m:
                          type: number
                        price_change_1y:
                          type: number
                        market_cap:
                          type: number
                        liquidity:
                          type: number
                        volume:
                          type: number
                        blockchains:
                          type: array
                          items:
                            type: string
                        contracts:
                          type: array
                          items:
                            type: string
                        decimals:
                          type: array
                          items:
                            type: number
                        website:
                          type: string
                          nullable: true
                        twitter:
                          type: string
                          nullable: true
                        chat:
                          type: string
                          nullable: true
                      required:
                        - id
                        - name
                        - symbol
                required:
                  - data
  /blockchains:
    get:
      summary: Get all blockchains
      responses:
        "200":
          description: Blockchains response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        shortName:
                          type: string
                        rpcs:
                          type: array
                          items:
                            type: string
                        privateRpcs:
                          type: array
                          items:
                            type: string
                        chainId:
                          type: string
                        evmChainId:
                          type: number
                        cosmosChainId:
                          type: string
                        testnet:
                          type: boolean
                        explorer:
                          type: string
                        eth:
                          type: object
                          properties:
                            name:
                              type: string
                            symbol:
                              type: string
                            address:
                              type: string
                            type:
                              type: string
                              enum: &a1
                                - eth
                                - stable
                                - other
                            decimals:
                              type: number
                            denom:
                              type: string
                            logo:
                              type: string
                            id:
                              type: number
                          required:
                            - name
                            - symbol
                            - address
                            - type
                            - decimals
                            - logo
                        stable:
                          type: object
                          properties:
                            name:
                              type: string
                            symbol:
                              type: string
                            address:
                              type: string
                            type:
                              type: string
                              enum: *a1
                            decimals:
                              type: number
                            denom:
                              type: string
                            logo:
                              type: string
                            blockchain:
                              type: string
                            blockchains:
                              type: array
                              items:
                                type: string
                            contracts:
                              type: array
                              items:
                                type: string
                          required:
                            - name
                            - symbol
                            - address
                            - type
                            - decimals
                            - logo
                            - blockchain
                            - blockchains
                            - contracts
                        multicall_contract:
                          type: string
                        uniswapV3Factory:
                          type: array
                          items:
                            type: string
                        routers:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                              name:
                                type: string
                            required:
                              - address
                              - name
                        tokens:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                              name:
                                type: string
                            required:
                              - address
                              - name
                        supportedProtocols:
                          type: array
                          items:
                            type: string
                        logo:
                          type: string
                        color:
                          type: string
                        coingeckoChain:
                          type: string
                        dexscreenerChain:
                          type: string
                        isLayer2:
                          type: boolean
                      required:
                        - name
                        - rpcs
                        - chainId
                        - explorer
                        - routers
                        - tokens
                        - supportedProtocols
                        - logo
                        - color
                required:
                  - data
  /market/blockchain/pairs:
    get:
      summary: Get blockchain pairs
      parameters:
        - schema:
            type: string
          required: false
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: blockchains
          in: query
        - schema:
            type: string
            default: latest_trade_date
          required: false
          name: sortBy
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          required: false
          name: sortOrder
          in: query
        - schema:
            type: string
          required: false
          name: factory
          in: query
        - schema:
            type: number
            nullable: true
            maximum: 100
            default: 100
          required: false
          name: limit
          in: query
        - schema:
            type: number
            nullable: true
            default: 0
          required: false
          name: offset
          in: query
        - schema:
            type: string
          required: false
          name: filters
          in: query
      responses:
        "200":
          description: Blockchain pairs response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        price:
                          type: number
                        price_change_5min:
                          type: number
                        price_change_1h:
                          type: number
                        price_change_4h:
                          type: number
                        price_change_24h:
                          type: number
                        last_trade:
                          type: string
                        created_at:
                          type: string
                          nullable: true
                        holders_count:
                          type: number
                        volume_1min:
                          type: number
                        volume_5min:
                          type: number
                        volume_15min:
                          type: number
                        volume_1h:
                          type: number
                        volume_4h:
                          type: number
                        volume_12h:
                          type: number
                        volume_24h:
                          type: number
                        trades_1min:
                          type: number
                        trades_5min:
                          type: number
                        trades_15min:
                          type: number
                        trades_1h:
                          type: number
                        trades_4h:
                          type: number
                        trades_12h:
                          type: number
                        trades_24h:
                          type: number
                        liquidity:
                          type: number
                        pair:
                          type: object
                          properties:
                            token0:
                              type: object
                              properties:
                                address:
                                  type: string
                                price:
                                  type: number
                                priceToken:
                                  type: number
                                priceTokenString:
                                  type: string
                                approximateReserveUSD:
                                  type: number
                                approximateReserveTokenRaw:
                                  type: string
                                approximateReserveToken:
                                  type: number
                                symbol:
                                  type: string
                                name:
                                  type: string
                                id:
                                  type: number
                                decimals:
                                  type: number
                                totalSupply:
                                  type: number
                                circulatingSupply:
                                  type: number
                                logo:
                                  type: string
                                  nullable: true
                                chainId:
                                  type: string
                              required:
                                - address
                                - price
                                - priceToken
                                - priceTokenString
                                - approximateReserveUSD
                                - approximateReserveTokenRaw
                                - approximateReserveToken
                                - symbol
                                - name
                                - id
                                - decimals
                                - totalSupply
                                - circulatingSupply
                                - logo
                                - chainId
                            token1:
                              type: object
                              properties:
                                address:
                                  type: string
                                price:
                                  type: number
                                priceToken:
                                  type: number
                                priceTokenString:
                                  type: string
                                approximateReserveUSD:
                                  type: number
                                approximateReserveTokenRaw:
                                  type: string
                                approximateReserveToken:
                                  type: number
                                symbol:
                                  type: string
                                name:
                                  type: string
                                id:
                                  type: number
                                decimals:
                                  type: number
                                totalSupply:
                                  type: number
                                circulatingSupply:
                                  type: number
                                logo:
                                  type: string
                                  nullable: true
                                chainId:
                                  type: string
                              required:
                                - address
                                - price
                                - priceToken
                                - priceTokenString
                                - approximateReserveUSD
                                - approximateReserveTokenRaw
                                - approximateReserveToken
                                - symbol
                                - name
                                - id
                                - decimals
                                - totalSupply
                                - circulatingSupply
                                - logo
                                - chainId
                            volume24h:
                              type: number
                            liquidity:
                              type: number
                            blockchain:
                              type: string
                            address:
                              type: string
                            createdAt:
                              type: string
                            type:
                              type: string
                            baseToken:
                              type: string
                            exchange:
                              type: object
                              properties:
                                name:
                                  type: string
                                logo:
                                  type: string
                              required:
                                - name
                                - logo
                            factory:
                              type: string
                              nullable: true
                            quoteToken:
                              type: string
                            price:
                              type: number
                            priceToken:
                              type: number
                            priceTokenString:
                              type: string
                          required:
                            - token0
                            - token1
                            - volume24h
                            - liquidity
                            - blockchain
                            - address
                            - createdAt
                            - type
                            - baseToken
                            - exchange
                            - factory
                            - quoteToken
                            - price
                            - priceToken
                            - priceTokenString
                      required:
                        - price
                        - price_change_5min
                        - price_change_1h
                        - price_change_4h
                        - price_change_24h
                        - last_trade
                        - created_at
                        - holders_count
                        - volume_1min
                        - volume_5min
                        - volume_15min
                        - volume_1h
                        - volume_4h
                        - volume_12h
                        - volume_24h
                        - trades_1min
                        - trades_5min
                        - trades_15min
                        - trades_1h
                        - trades_4h
                        - trades_12h
                        - trades_24h
                        - liquidity
                        - pair
                  factories:
                    type: object
                    additionalProperties:
                      nullable: true
                required:
                  - data
                  - factories
  /market/blockchain/stats:
    get:
      summary: Get blockchain stats
      parameters:
        - schema:
            type: string
          required: true
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: factory
          in: query
      responses:
        "200":
          description: Blockchain stats response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      volume_history:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      volume_change_24h:
                        type: number
                      volume_change_total:
                        type: number
                        nullable: true
                      liquidity_history:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      liquidity_change_24h:
                        type: number
                      liquidity_change_total:
                        type: number
                        nullable: true
                      tokens_history:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      tokens_change_24h:
                        type: number
                      tokens_change_total:
                        type: number
                        nullable: true
                    required:
                      - volume_history
                      - volume_change_24h
                      - volume_change_total
                      - liquidity_history
                      - liquidity_change_24h
                      - liquidity_change_total
                      - tokens_history
                      - tokens_change_24h
                      - tokens_change_total
                required:
                  - data
  /market/cefi/funding-rate:
    get:
      summary: Get funding rate
      parameters:
        - schema:
            type: string
          required: true
          name: symbol
          in: query
        - schema:
            type: string
          required: false
          name: quote
          in: query
      responses:
        "200":
          description: Funding rate response
          content:
            application/json:
              schema:
                type: object
                properties:
                  binanceFundingRate:
                    type: object
                    properties:
                      symbol:
                        type: string
                      fundingTime:
                        type: number
                      fundingRate:
                        type: number
                      marketPrice:
                        type: string
                      epochDurationMs:
                        type: number
                    required:
                      - symbol
                      - fundingTime
                      - fundingRate
                      - marketPrice
                      - epochDurationMs
                  deribitFundingRate:
                    type: object
                    properties:
                      symbol:
                        type: string
                      fundingTime:
                        type: number
                      fundingRate:
                        type: number
                      marketPrice:
                        type: number
                      epochDurationMs:
                        type: number
                    required:
                      - symbol
                      - fundingTime
                      - fundingRate
                      - marketPrice
                      - epochDurationMs
                  queryDetails:
                    type: object
                    properties:
                      base:
                        type: string
                      quote:
                        type: string
                        nullable: true
                    required:
                      - base
                      - quote
                required:
                  - queryDetails
  /feed/create:
    get:
      summary: Create a feed
      parameters:
        - schema:
            type: number
            nullable: true
          required: false
          name: quoteId
          in: query
        - schema:
            type: number
            nullable: true
          required: false
          name: assetId
          in: query
      responses:
        "200":
          description: Feed created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
  /market/history/pair:
    get:
      summary: Get market history pair
      parameters:
        - schema:
            type: string
          required: false
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: asset
          in: query
        - schema:
            type: string
          required: false
          name: symbol
          in: query
        - schema:
            type: string
          required: false
          name: address
          in: query
        - schema:
            type: string
          required: false
          name: baseToken
          in: query
        - schema:
            anyOf:
              - type: integer
                nullable: true
              - type: string
                nullable: true
              - nullable: true
          required: false
          name: from
          in: query
        - schema:
            anyOf:
              - type: integer
                nullable: true
              - type: string
                nullable: true
              - nullable: true
          required: false
          name: to
          in: query
        - schema:
            type: string
          required: false
          name: period
          in: query
        - schema:
            type: number
            nullable: true
          required: false
          name: amount
          in: query
        - schema:
            type: string
          required: false
          name: usd
          in: query
        - schema:
            type: string
          required: false
          name: latest
          in: query
      responses:
        "200":
          description: Market history response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        volume:
                          type: number
                        open:
                          type: number
                        high:
                          type: number
                        low:
                          type: number
                        close:
                          type: number
                        time:
                          type: number
                      required:
                        - volume
                        - open
                        - high
                        - low
                        - close
                        - time
                required:
                  - data
  /market/history:
    get:
      summary: Get market history
      parameters:
        - schema:
            type: string
          required: false
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: asset
          in: query
        - schema:
            type: string
          required: false
          name: symbol
          in: query
        - schema:
            type: string
          required: false
          name: period
          in: query
        - schema:
            type: number
            nullable: true
          required: false
          name: id
          in: query
        - schema:
            type: number
            nullable: true
            default: 0
          required: false
          name: from
          in: query
        - schema:
            type: number
            nullable: true
            default: 1740735669314
          required: false
          name: to
          in: query
      responses:
        "200":
          description: Market history response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      price_history:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      name:
                        type: string
                      symbol:
                        type: string
                    required:
                      - price_history
                required:
                  - data
  /market/multi-data:
    get:
      summary: Get market multi data
      parameters:
        - schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
          required: false
          name: ids
          in: query
        - schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
          required: false
          name: symbols
          in: query
        - schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
          required: false
          name: blockchains
          in: query
        - schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - address
                        - name
                    value:
                      type: string
                  required:
                    - type
                    - value
          required: false
          name: assets
          in: query
        - schema:
            anyOf:
              - type: string
                enum:
                  - 24h
              - type: boolean
                nullable: true
              - nullable: true
            default: false
          required: false
          name: shouldFetchPriceChange
          in: query
      responses:
        "200":
          description: Market multi data response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: number
                        name:
                          type: string
                        symbol:
                          type: string
                        decimals:
                          type: number
                          nullable: true
                        logo:
                          type: string
                        rank:
                          type: number
                          nullable: true
                        price:
                          type: number
                        market_cap:
                          type: number
                        market_cap_diluted:
                          type: number
                        volume:
                          type: number
                        volume_change_24h:
                          type: number
                        volume_7d:
                          type: number
                        liquidity:
                          type: number
                        ath:
                          type: number
                        atl:
                          type: number
                        off_chain_volume:
                          type: number
                        is_listed:
                          type: boolean
                        price_change_1h:
                          type: number
                        price_change_24h:
                          type: number
                        price_change_7d:
                          type: number
                        price_change_1m:
                          type: number
                        price_change_1y:
                          type: number
                        total_supply:
                          type: number
                        circulating_supply:
                          type: number
                        contracts:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                              blockchainId:
                                type: string
                              blockchain:
                                type: string
                              decimals:
                                type: number
                            required:
                              - address
                              - blockchainId
                              - blockchain
                              - decimals
                      required:
                        - key
                        - id
                        - name
                        - symbol
                        - decimals
                        - logo
                        - rank
                        - price
                        - market_cap
                        - market_cap_diluted
                        - volume
                        - volume_change_24h
                        - volume_7d
                        - liquidity
                        - ath
                        - atl
                        - off_chain_volume
                        - is_listed
                        - price_change_1h
                        - price_change_24h
                        - price_change_7d
                        - price_change_1m
                        - price_change_1y
                        - total_supply
                        - circulating_supply
                        - contracts
                  dataArray:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: number
                        name:
                          type: string
                        symbol:
                          type: string
                        decimals:
                          type: number
                          nullable: true
                        logo:
                          type: string
                        rank:
                          type: number
                          nullable: true
                        price:
                          type: number
                        market_cap:
                          type: number
                        market_cap_diluted:
                          type: number
                        volume:
                          type: number
                        volume_change_24h:
                          type: number
                        volume_7d:
                          type: number
                        liquidity:
                          type: number
                        ath:
                          type: number
                        atl:
                          type: number
                        off_chain_volume:
                          type: number
                        is_listed:
                          type: boolean
                        price_change_1h:
                          type: number
                        price_change_24h:
                          type: number
                        price_change_7d:
                          type: number
                        price_change_1m:
                          type: number
                        price_change_1y:
                          type: number
                        total_supply:
                          type: number
                        circulating_supply:
                          type: number
                        contracts:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                              blockchainId:
                                type: string
                              blockchain:
                                type: string
                              decimals:
                                type: number
                            required:
                              - address
                              - blockchainId
                              - blockchain
                              - decimals
                      required:
                        - key
                        - id
                        - name
                        - symbol
                        - decimals
                        - logo
                        - rank
                        - price
                        - market_cap
                        - market_cap_diluted
                        - volume
                        - volume_change_24h
                        - volume_7d
                        - liquidity
                        - ath
                        - atl
                        - off_chain_volume
                        - is_listed
                        - price_change_1h
                        - price_change_24h
                        - price_change_7d
                        - price_change_1m
                        - price_change_1y
                        - total_supply
                        - circulating_supply
                        - contracts
                required:
                  - data
                  - dataArray
  /market/multi-history:
    get:
      summary: Get market multi history
      parameters:
        - schema:
            type: string
          required: false
          name: assets
          in: query
        - schema:
            type: string
          required: false
          name: period
          in: query
        - schema:
            type: string
          required: false
          name: symbols
          in: query
        - schema:
            type: string
          required: false
          name: blockchains
          in: query
        - schema:
            type: string
          required: false
          name: ids
          in: query
        - schema:
            type: string
          required: false
          name: from
          in: query
        - schema:
            type: string
          required: false
          name: froms
          in: query
        - schema:
            type: string
          required: false
          name: to
          in: query
        - schema:
            type: string
          required: false
          name: tos
          in: query
      responses:
        "200":
          description: Market multi history response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        price_history:
                          type: array
                          items:
                            type: array
                            items:
                              type: number
                        name:
                          type: string
                        symbol:
                          type: string
                        address:
                          type: string
                      required:
                        - price_history
                        - name
                        - symbol
                        - address
                required:
                  - data
  /market/nft:
    get:
      summary: Get market nft
      parameters:
        - schema:
            type: string
          required: true
          name: asset
          in: query
        - schema:
            type: string
          required: true
          name: chain
          in: query
      responses:
        "200":
          description: Market nft response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      price:
                        type: number
                      priceETH:
                        type: number
                    required:
                      - price
                      - priceETH
                required:
                  - data
  /market/pair:
    get:
      summary: Get market pair
      parameters:
        - schema:
            type: string
          required: false
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: asset
          in: query
        - schema:
            type: string
          required: false
          name: symbol
          in: query
        - schema:
            type: string
          required: false
          name: address
          in: query
        - schema:
            type: string
          required: false
          name: baseToken
          in: query
        - schema:
            anyOf:
              - type: boolean
              - type: string
            default: false
          required: false
          name: stats
          in: query
      responses:
        "200":
          description: Market pair response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token0:
                        type: object
                        properties:
                          address:
                            type: string
                          price:
                            type: number
                          priceToken:
                            type: number
                          priceTokenString:
                            type: string
                          approximateReserveUSD:
                            type: number
                          approximateReserveTokenRaw:
                            type: string
                          approximateReserveToken:
                            type: number
                          symbol:
                            type: string
                          name:
                            type: string
                          id:
                            type: number
                          decimals:
                            type: number
                          totalSupply:
                            type: number
                          circulatingSupply:
                            type: number
                          logo:
                            type: string
                            nullable: true
                          chainId:
                            type: string
                        required:
                          - address
                          - price
                          - priceToken
                          - priceTokenString
                          - approximateReserveUSD
                          - approximateReserveTokenRaw
                          - approximateReserveToken
                          - symbol
                          - name
                          - id
                          - decimals
                          - totalSupply
                          - circulatingSupply
                          - logo
                          - chainId
                      token1:
                        type: object
                        properties:
                          address:
                            type: string
                          price:
                            type: number
                          priceToken:
                            type: number
                          priceTokenString:
                            type: string
                          approximateReserveUSD:
                            type: number
                          approximateReserveTokenRaw:
                            type: string
                          approximateReserveToken:
                            type: number
                          symbol:
                            type: string
                          name:
                            type: string
                          id:
                            type: number
                          decimals:
                            type: number
                          totalSupply:
                            type: number
                          circulatingSupply:
                            type: number
                          logo:
                            type: string
                            nullable: true
                          chainId:
                            type: string
                        required:
                          - address
                          - price
                          - priceToken
                          - priceTokenString
                          - approximateReserveUSD
                          - approximateReserveTokenRaw
                          - approximateReserveToken
                          - symbol
                          - name
                          - id
                          - decimals
                          - totalSupply
                          - circulatingSupply
                          - logo
                          - chainId
                      volume24h:
                        type: number
                      liquidity:
                        type: number
                      blockchain:
                        type: string
                      address:
                        type: string
                      createdAt:
                        type: string
                      type:
                        type: string
                      baseToken:
                        type: string
                      exchange:
                        type: object
                        properties:
                          name:
                            type: string
                          logo:
                            type: string
                        required:
                          - name
                          - logo
                      factory:
                        type: string
                        nullable: true
                      quoteToken:
                        type: string
                      price:
                        type: number
                      priceToken:
                        type: number
                      priceTokenString:
                        type: string
                    required:
                      - token0
                      - token1
                      - volume24h
                      - liquidity
                      - blockchain
                      - address
                      - createdAt
                      - type
                      - baseToken
                      - exchange
                      - factory
                      - quoteToken
                      - price
                      - priceToken
                      - priceTokenString
                required:
                  - data
  /market/pairs:
    get:
      summary: Get market pairs
      parameters:
        - schema:
            type: string
            default: "25"
          required: false
          name: limit
          in: query
        - schema:
            type: string
            default: "0"
          required: false
          name: offset
          in: query
        - schema:
            type: number
            nullable: true
          required: false
          name: id
          in: query
        - schema:
            type: string
          required: false
          name: asset
          in: query
        - schema:
            type: string
          required: false
          name: symbol
          in: query
        - schema:
            type: string
          required: false
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: tokens
          in: query
        - schema:
            type: string
          required: false
          name: blockchains
          in: query
      responses:
        "200":
          description: Market pairs response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      pairs:
                        type: array
                        items:
                          type: object
                          properties:
                            token0:
                              type: object
                              properties:
                                address:
                                  type: string
                                price:
                                  type: number
                                priceToken:
                                  type: number
                                priceTokenString:
                                  type: string
                                approximateReserveUSD:
                                  type: number
                                approximateReserveTokenRaw:
                                  type: string
                                approximateReserveToken:
                                  type: number
                                symbol:
                                  type: string
                                name:
                                  type: string
                                id:
                                  type: number
                                decimals:
                                  type: number
                                totalSupply:
                                  type: number
                                circulatingSupply:
                                  type: number
                                logo:
                                  type: string
                                  nullable: true
                                chainId:
                                  type: string
                              required:
                                - address
                                - price
                                - priceToken
                                - priceTokenString
                                - approximateReserveUSD
                                - approximateReserveTokenRaw
                                - approximateReserveToken
                                - symbol
                                - name
                                - id
                                - decimals
                                - totalSupply
                                - circulatingSupply
                                - logo
                                - chainId
                            token1:
                              type: object
                              properties:
                                address:
                                  type: string
                                price:
                                  type: number
                                priceToken:
                                  type: number
                                priceTokenString:
                                  type: string
                                approximateReserveUSD:
                                  type: number
                                approximateReserveTokenRaw:
                                  type: string
                                approximateReserveToken:
                                  type: number
                                symbol:
                                  type: string
                                name:
                                  type: string
                                id:
                                  type: number
                                decimals:
                                  type: number
                                totalSupply:
                                  type: number
                                circulatingSupply:
                                  type: number
                                logo:
                                  type: string
                                  nullable: true
                                chainId:
                                  type: string
                              required:
                                - address
                                - price
                                - priceToken
                                - priceTokenString
                                - approximateReserveUSD
                                - approximateReserveTokenRaw
                                - approximateReserveToken
                                - symbol
                                - name
                                - id
                                - decimals
                                - totalSupply
                                - circulatingSupply
                                - logo
                                - chainId
                            volume24h:
                              type: number
                            liquidity:
                              type: number
                            blockchain:
                              type: string
                            address:
                              type: string
                            createdAt:
                              type: string
                            type:
                              type: string
                            baseToken:
                              type: string
                            exchange:
                              type: object
                              properties:
                                name:
                                  type: string
                                logo:
                                  type: string
                              required:
                                - name
                                - logo
                            factory:
                              type: string
                              nullable: true
                            quoteToken:
                              type: string
                            price:
                              type: number
                            priceToken:
                              type: number
                            priceTokenString:
                              type: string
                          required:
                            - token0
                            - token1
                            - volume24h
                            - liquidity
                            - blockchain
                            - address
                            - createdAt
                            - type
                            - baseToken
                            - exchange
                            - factory
                            - quoteToken
                            - price
                            - priceToken
                            - priceTokenString
                    required:
                      - pairs
                required:
                  - data
  /market/query/token:
    get:
      summary: Get market query token
      parameters:
        - schema:
            type: string
          required: false
          name: sortField
          in: query
        - schema:
            type: string
            default: desc
          required: false
          name: sortOrder
          in: query
        - schema:
            type: string
          required: false
          name: sortBy
          in: query
        - schema:
            type: string
          required: false
          name: filters
          in: query
        - schema:
            type: number
            nullable: true
            default: 20
          required: false
          name: limit
          in: query
        - schema:
            type: string
          required: false
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: blockchains
          in: query
        - schema:
            type: boolean
            nullable: true
            default: false
          required: false
          name: unlistedAssets
          in: query
      responses:
        "200":
          description: Market query token response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        logo:
                          type: string
                          nullable: true
                        symbol:
                          type: string
                        address:
                          type: string
                        blockchain:
                          type: string
                        decimals:
                          type: number
                        volume_24h:
                          type: number
                        listed_at:
                          type: string
                          nullable: true
                        circulating_supply:
                          type: string
                        total_supply:
                          type: string
                        coingecko_id:
                          type: string
                          nullable: true
                        pairs:
                          type: array
                          items:
                            type: object
                            properties:
                              token0:
                                type: object
                                properties:
                                  address:
                                    type: string
                                  price:
                                    type: number
                                  priceToken:
                                    type: number
                                  priceTokenString:
                                    type: string
                                  approximateReserveUSD:
                                    type: number
                                  approximateReserveTokenRaw:
                                    type: string
                                  approximateReserveToken:
                                    type: number
                                  symbol:
                                    type: string
                                  name:
                                    type: string
                                  id:
                                    type: number
                                  decimals:
                                    type: number
                                  totalSupply:
                                    type: number
                                  circulatingSupply:
                                    type: number
                                  logo:
                                    type: string
                                    nullable: true
                                  chainId:
                                    type: string
                                required:
                                  - address
                                  - price
                                  - priceToken
                                  - priceTokenString
                                  - approximateReserveUSD
                                  - approximateReserveTokenRaw
                                  - approximateReserveToken
                                  - symbol
                                  - name
                                  - id
                                  - decimals
                                  - totalSupply
                                  - circulatingSupply
                                  - logo
                                  - chainId
                              token1:
                                type: object
                                properties:
                                  address:
                                    type: string
                                  price:
                                    type: number
                                  priceToken:
                                    type: number
                                  priceTokenString:
                                    type: string
                                  approximateReserveUSD:
                                    type: number
                                  approximateReserveTokenRaw:
                                    type: string
                                  approximateReserveToken:
                                    type: number
                                  symbol:
                                    type: string
                                  name:
                                    type: string
                                  id:
                                    type: number
                                  decimals:
                                    type: number
                                  totalSupply:
                                    type: number
                                  circulatingSupply:
                                    type: number
                                  logo:
                                    type: string
                                    nullable: true
                                  chainId:
                                    type: string
                                required:
                                  - address
                                  - price
                                  - priceToken
                                  - priceTokenString
                                  - approximateReserveUSD
                                  - approximateReserveTokenRaw
                                  - approximateReserveToken
                                  - symbol
                                  - name
                                  - id
                                  - decimals
                                  - totalSupply
                                  - circulatingSupply
                                  - logo
                                  - chainId
                              volume24h:
                                type: number
                              liquidity:
                                type: number
                              blockchain:
                                type: string
                              address:
                                type: string
                              createdAt:
                                type: string
                              type:
                                type: string
                              baseToken:
                                type: string
                              exchange:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  logo:
                                    type: string
                                required:
                                  - name
                                  - logo
                              factory:
                                type: string
                              quoteToken:
                                type: string
                              price:
                                type: number
                              priceToken:
                                type: number
                              priceTokenString:
                                type: string
                            required:
                              - token0
                              - token1
                              - volume24h
                              - liquidity
                              - blockchain
                              - address
                              - createdAt
                              - type
                              - baseToken
                              - exchange
                              - factory
                              - quoteToken
                              - price
                              - priceToken
                              - priceTokenString
                      required:
                        - name
                        - logo
                        - symbol
                        - address
                        - blockchain
                        - decimals
                        - volume_24h
                        - listed_at
                        - circulating_supply
                        - total_supply
                        - coingecko_id
                        - pairs
                required:
                  - data
  /market/query:
    get:
      summary: Get market query
      parameters:
        - schema:
            type: string
          required: false
          name: sortBy
          in: query
        - schema:
            type: string
            default: desc
          required: false
          name: sortOrder
          in: query
        - schema:
            type: string
          required: false
          name: filters
          in: query
        - schema:
            type: string
          required: false
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: blockchains
          in: query
        - schema:
            type: number
            nullable: true
            default: 20
          required: false
          name: limit
          in: query
        - schema:
            type: number
            nullable: true
            default: 0
          required: false
          name: offset
          in: query
      responses:
        "200":
          description: Market query response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    logo:
                      type: string
                      nullable: true
                    symbol:
                      type: string
                    liquidity:
                      type: number
                    market_cap:
                      type: number
                    volume:
                      type: number
                    off_chain_volume:
                      type: number
                    price:
                      type: number
                    price_change_1h:
                      type: number
                    price_change_24h:
                      type: number
                    price_change_7d:
                      type: number
                    contracts:
                      type: array
                      items:
                        type: object
                        properties:
                          address:
                            type: string
                          blockchain:
                            type: string
                          blockchainId:
                            type: string
                          decimals:
                            type: number
                        required:
                          - address
                          - blockchain
                          - blockchainId
                          - decimals
                    id:
                      type: number
                    rank:
                      type: number
                      nullable: true
                  required:
                    - name
                    - logo
                    - symbol
                    - liquidity
                    - market_cap
                    - volume
                    - off_chain_volume
                    - price
                    - price_change_1h
                    - price_change_24h
                    - price_change_7d
                    - contracts
                    - id
                    - rank
  /market/sparkline:
    get:
      summary: Get market sparkline
      parameters:
        - schema:
            type: string
          required: false
          name: asset
          in: query
        - schema:
            type: string
          required: false
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: symbol
          in: query
        - schema:
            type: string
          required: false
          name: id
          in: query
        - schema:
            type: string
            default: 24h
          required: false
          name: timeFrame
          in: query
        - schema:
            type: string
            default: "false"
          required: false
          name: png
          in: query
      responses:
        "200":
          description: Market sparkline response
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                required:
                  - url
  /market/token/holders:
    get:
      summary: Get market token holders
      parameters:
        - schema:
            type: string
          required: false
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: asset
          in: query
        - schema:
            type: string
          required: false
          name: symbol
          in: query
        - schema:
            type: number
            nullable: true
            maximum: 100
            default: 20
          required: false
          name: limit
          in: query
        - schema:
            type: number
            nullable: true
            default: 0
          required: false
          name: offset
          in: query
      responses:
        "200":
          description: Market token holders response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                        amountRaw:
                          type: string
                        amount:
                          type: number
                        chainId:
                          type: string
                        totalSupplyShare:
                          type: number
                        amountUSD:
                          type: number
                      required:
                        - address
                        - amountRaw
                        - amount
                        - chainId
                        - totalSupplyShare
                        - amountUSD
                  total_count:
                    type: number
                required:
                  - data
                  - total_count
  /market/token-vs-market:
    get:
      summary: Get market total
      parameters:
        - schema:
            type: string
          required: true
          name: tag
          in: query
      responses:
        "200":
          description: Market total response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                        - type: object
                          properties:
                            marketCapUSD:
                              type: number
                            priceUSD:
                              type: number
                              nullable: true
                            priceChange1hPercent:
                              type: number
                            priceChange24hPercent:
                              type: number
                            priceChange7dPercent:
                              type: number
                            priceChange1mPercent:
                              type: number
                            name:
                              type: string
                            symbol:
                              type: string
                          required:
                            - marketCapUSD
                            - priceUSD
                            - priceChange1hPercent
                            - priceChange24hPercent
                            - priceChange7dPercent
                            - priceChange1mPercent
                            - name
                            - symbol
                        - type: object
                          properties:
                            id:
                              type: number
                            marketCapUSD:
                              type: number
                            marketCapChange24hPercent:
                              type: number
                            marketCapChange7dPercent:
                              type: number
                            marketCapChange1mPercent:
                              type: number
                            name:
                              type: string
                            volumeUSD:
                              type: number
                          required:
                            - id
                            - marketCapUSD
                            - marketCapChange24hPercent
                            - marketCapChange7dPercent
                            - marketCapChange1mPercent
                            - name
                            - volumeUSD
                        - nullable: true
                required:
                  - data
  /market/total:
    get:
      summary: Get market total
      responses:
        "200":
          description: Market total response
          content:
            application/json:
              schema:
                type: object
                properties:
                  market_cap_history:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
                      minItems: 2
                      maxItems: 2
                  market_cap_change_24h:
                    type: string
                  btc_dominance_history:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
                      minItems: 2
                      maxItems: 2
                required:
                  - market_cap_history
                  - market_cap_change_24h
                  - btc_dominance_history
  /market/trades/pair:
    get:
      summary: Get market trades
      parameters:
        - schema:
            type: string
          required: false
          name: blockchain
          in: query
        - schema:
            type: string
          required: false
          name: asset
          in: query
        - schema:
            type: string
          required: false
          name: address
          in: query
        - schema:
            type: string
          required: false
          name: symbol
          in: query
        - schema:
            type: number
            nullable: true
          required: false
          name: limit
          in: query
        - schema:
            type: number
            nullable: true
          required: false
          name: amount
          in: query
        - schema:
            type: string
          required: false
          name: sortBy
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          required: false
          name: sortOrder
          in: query
        - schema:
            type: number
            nullable: true
            default: 0
          required: false
          name: offset
          in: query
      responses:
        "200":
          description: Market trades response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        blockchain:
                          type: string
                        hash:
                          type: string
                        pair:
                          type: string
                        date:
                          type: number
                        token_price_vs:
                          type: number
                        token_price:
                          type: number
                        token_amount:
                          type: number
                        token_amount_vs:
                          type: number
                        token_amount_usd:
                          type: number
                        type:
                          type: string
                        sender:
                          type: string
                        token_amount_raw:
                          type: string
                        token_amount_raw_vs:
                          type: string
                        operation:
                          type: string
                      required:
                        - blockchain
                        - hash
                        - pair
                        - date
                        - token_price_vs
                        - token_price
                        - token_amount
                        - token_amount_vs
                        - token_amount_usd
                        - type
                        - sender
                        - token_amount_raw
                        - token_amount_raw_vs
                        - operation
                required:
                  - data
  /search:
    get:
      summary: Search for assets, tokens, and pairs
      parameters:
        - schema:
            type: string
          required: true
          name: input
          in: query
        - schema:
            type: string
          required: false
          name: filters
          in: query
      responses:
        "200":
          description: Search response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                        - type: object
                          properties:
                            logo:
                              type: string
                              nullable: true
                            name:
                              type: string
                            symbol:
                              type: string
                            decimals:
                              type: array
                              items:
                                type: number
                            volume_24h:
                              type: number
                            blockchains:
                              type: array
                              items:
                                type: string
                            contracts:
                              type: array
                              items:
                                type: string
                            price:
                              type: number
                            total_supply:
                              type: string
                            pairs:
                              type: array
                              items:
                                type: object
                                properties:
                                  token0:
                                    type: object
                                    properties:
                                      address:
                                        type: string
                                      price:
                                        type: number
                                      priceToken:
                                        type: number
                                      priceTokenString:
                                        type: string
                                      approximateReserveUSD:
                                        type: number
                                      approximateReserveTokenRaw:
                                        type: string
                                      approximateReserveToken:
                                        type: number
                                      symbol:
                                        type: string
                                      name:
                                        type: string
                                      id:
                                        type: number
                                      decimals:
                                        type: number
                                      totalSupply:
                                        type: number
                                      circulatingSupply:
                                        type: number
                                      chainId:
                                        type: string
                                    required:
                                      - address
                                      - price
                                      - priceToken
                                      - priceTokenString
                                      - approximateReserveUSD
                                      - approximateReserveTokenRaw
                                      - approximateReserveToken
                                      - symbol
                                      - name
                                      - id
                                      - decimals
                                      - totalSupply
                                      - circulatingSupply
                                      - chainId
                                  token1:
                                    type: object
                                    properties:
                                      address:
                                        type: string
                                      price:
                                        type: number
                                      priceToken:
                                        type: number
                                      priceTokenString:
                                        type: string
                                      approximateReserveUSD:
                                        type: number
                                      approximateReserveTokenRaw:
                                        type: string
                                      approximateReserveToken:
                                        type: number
                                      symbol:
                                        type: string
                                      name:
                                        type: string
                                      id:
                                        type: number
                                      decimals:
                                        type: number
                                      totalSupply:
                                        type: number
                                      circulatingSupply:
                                        type: number
                                      chainId:
                                        type: string
                                    required:
                                      - address
                                      - price
                                      - priceToken
                                      - priceTokenString
                                      - approximateReserveUSD
                                      - approximateReserveTokenRaw
                                      - approximateReserveToken
                                      - symbol
                                      - name
                                      - id
                                      - decimals
                                      - totalSupply
                                      - circulatingSupply
                                      - chainId
                                  volume24h:
                                    type: number
                                  liquidity:
                                    type: number
                                  blockchain:
                                    type: string
                                  address:
                                    type: string
                                  createdAt:
                                    type: string
                                  type:
                                    type: string
                                  baseToken:
                                    type: string
                                  exchange:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      logo:
                                        type: string
                                    required:
                                      - name
                                      - logo
                                  factory:
                                    type: string
                                  quoteToken:
                                    type: string
                                  price:
                                    type: number
                                  priceToken:
                                    type: number
                                  priceTokenString:
                                    type: string
                                required:
                                  - token0
                                  - token1
                                  - volume24h
                                  - liquidity
                                  - blockchain
                                  - address
                                  - createdAt
                                  - type
                                  - baseToken
                                  - exchange
                                  - factory
                                  - quoteToken
                                  - price
                                  - priceToken
                                  - priceTokenString
                            type:
                              type: string
                              enum:
                                - token
                          required:
                            - logo
                            - name
                            - symbol
                            - decimals
                            - blockchains
                            - contracts
                            - price
                            - total_supply
                            - pairs
                            - type
                        - type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            symbol:
                              type: string
                            contracts:
                              type: array
                              items:
                                type: string
                            blockchains:
                              type: array
                              items:
                                type: string
                            decimals:
                              type: array
                              items:
                                type: number
                            twitter:
                              type: string
                            website:
                              type: string
                            logo:
                              type: string
                              nullable: true
                            price:
                              type: number
                            market_cap:
                              type: number
                            liquidity:
                              type: number
                            volume:
                              type: number
                            pairs:
                              type: array
                              items:
                                type: object
                                properties:
                                  token0:
                                    type: object
                                    properties:
                                      address:
                                        type: string
                                      price:
                                        type: number
                                      priceToken:
                                        type: number
                                      priceTokenString:
                                        type: string
                                      approximateReserveUSD:
                                        type: number
                                      approximateReserveTokenRaw:
                                        type: string
                                      approximateReserveToken:
                                        type: number
                                      symbol:
                                        type: string
                                      name:
                                        type: string
                                      id:
                                        type: number
                                      decimals:
                                        type: number
                                      totalSupply:
                                        type: number
                                      circulatingSupply:
                                        type: number
                                      chainId:
                                        type: string
                                    required:
                                      - address
                                      - price
                                      - priceToken
                                      - priceTokenString
                                      - approximateReserveUSD
                                      - approximateReserveTokenRaw
                                      - approximateReserveToken
                                      - symbol
                                      - name
                                      - id
                                      - decimals
                                      - totalSupply
                                      - circulatingSupply
                                      - chainId
                                  token1:
                                    type: object
                                    properties:
                                      address:
                                        type: string
                                      price:
                                        type: number
                                      priceToken:
                                        type: number
                                      priceTokenString:
                                        type: string
                                      approximateReserveUSD:
                                        type: number
                                      approximateReserveTokenRaw:
                                        type: string
                                      approximateReserveToken:
                                        type: number
                                      symbol:
                                        type: string
                                      name:
                                        type: string
                                      id:
                                        type: number
                                      decimals:
                                        type: number
                                      totalSupply:
                                        type: number
                                      circulatingSupply:
                                        type: number
                                      chainId:
                                        type: string
                                    required:
                                      - address
                                      - price
                                      - priceToken
                                      - priceTokenString
                                      - approximateReserveUSD
                                      - approximateReserveTokenRaw
                                      - approximateReserveToken
                                      - symbol
                                      - name
                                      - id
                                      - decimals
                                      - totalSupply
                                      - circulatingSupply
                                      - chainId
                                  volume24h:
                                    type: number
                                  liquidity:
                                    type: number
                                  blockchain:
                                    type: string
                                  address:
                                    type: string
                                  createdAt:
                                    type: string
                                  type:
                                    type: string
                                  baseToken:
                                    type: string
                                  exchange:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      logo:
                                        type: string
                                    required:
                                      - name
                                      - logo
                                  factory:
                                    type: string
                                  quoteToken:
                                    type: string
                                  price:
                                    type: number
                                  priceToken:
                                    type: number
                                  priceTokenString:
                                    type: string
                                required:
                                  - token0
                                  - token1
                                  - volume24h
                                  - liquidity
                                  - blockchain
                                  - address
                                  - createdAt
                                  - type
                                  - baseToken
                                  - exchange
                                  - factory
                                  - quoteToken
                                  - price
                                  - priceToken
                                  - priceTokenString
                            type:
                              type: string
                              enum:
                                - asset
                          required:
                            - id
                            - name
                            - symbol
                            - contracts
                            - blockchains
                            - decimals
                            - logo
                            - price
                            - market_cap
                            - liquidity
                            - volume
                            - pairs
                            - type
[...]
